
/* Custom styling */
:root {
    --ff-primary: "Host Grotesk", sans-serif;

    --clr-primary-100: rgb(234, 237, 213);
    --clr-primary-200: rgb(222, 219, 139);

    --clr-neutral-100: rgb(247, 247, 247);

    --clr-accent-900: rgb(16, 13, 86);
}

/* General styling */
body {
    font-family: var(--ff-primary);
    color: var(--clr-accent-900);
    margin: 0;
    background-color: var(--clr-neutral-100);
}


h1 {
    background-color: var(--clr-accent-900);
    margin: 0;
    padding: 1em .75em;
}


.primary-heading {
    color: var(--clr-neutral-100);    
    text-decoration: none;
}

.primary-heading:hover {
    cursor: pointer;
    color: var(--clr-primary-200);
}

.wrapper {
    margin: 1em;
    font-size: 1.1rem;
}

@media (min-width: 945px) {
    .wrapper {
        font-size: 1.15rem;
        margin: 1.5em;
    }
}

.form-container {
    width: inherit;    
}


fieldset {
    border: 0;
    max-width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    align-items: flex-start;
    padding: 1em 4vw;
    margin-bottom: 1.5em;
}


legend,
button{
    font-size: 1.25rem;
    font-weight: semi-bold;
    border: 1px solid var(--clr-accent-900);
    border-radius: 2px;
    background-color: var(--clr-neutral-100);
    padding: .25em 1em;
}

.personal-info {
    background-color: var(--clr-primary-100);
}

.preferences {
    background-color: var(--clr-primary-200);
}

.padding-bottom{
    padding-bottom: .75em;
}


@media (min-width: 945px) {
    .form-container {
        display: flex;
        justify-content: space-between;
        gap: 1.5em;
        align-items: flex-start;
    }
}

.button-container {
    float: right;
    padding-bottom: 1.5em;
    padding-right: 1.5em;
}

button:hover {
    background-color: var(--clr-primary-200);
    cursor: pointer;
    margin-bottom: 1.5em;
}

/* Results Page */
.results {
    padding: 1.5em;
    margin-block: 1em;
    background-color: var(--clr-primary-100);
}

button a{
    text-decoration: none;
    color: var(--clr-accent-900);
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}


input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

